.logo-container {
    text-align: center;
}

body { 
    box-sizing: border-box; 
}

.footer_leaf {
    max-width: 600px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}